:root{
  --background-color: #ffffff;
  --orange: #FF3D00;
  --gray: #ccc; 
}


body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: var(--background-color);
  margin: 0;
}

.breed-select {
  width: 300px;
  padding: 10px;
  margin: 20px;
  font-size: 1rem;
  
}

.loader, .error {
  display: none;
  font-size: 1.2rem;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--gray) var(--gray) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none; 
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--orange) var(--orange);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: var(--gray) var(--gray) transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

.cat-image {
  max-width: 100%;
  border: 20px solid var(--background-color);
  
}
.cat-body{
  display: block;
  padding-left: 50px;
}

.cat-card {
display: flex;
align-items:center;
}

.cat-name{

  font-size: 40px;
}
.cat-info{
  
  font-size: 20px;
}
.error {
  display: none; 
}